html, body {
    background-color: #0e0e0e;
}
.gmo-wrapper {
    width: 1020px;
    margin: auto;
}
.slider {
    width: 100%;
}
.carousel-inner {
    height: 450px;
}
.gmo-display-left {
    position: absolute;
    top: 50%;
    left: 0%;
    transform: translate(0%, -50%)
}
.gmo-black {
    background-color: black !important;
    color: white;
}
#gmo-home-carousel {
    padding: 15px;
}
#gmo-home-content {
    padding: 0 15px;
}
#gmo-home-wrapper {
    background-color: white;
    padding-bottom: 20px;
}
.title-block .text span{
    display: inline-block;
    position: relative;
    padding-right: 10px;
}
.title-block .text span::after{
    position: absolute;
    content: '';
    display: block;
    top: 20px;
    height: 5px;
    width: 1000px;
    left: 100%;
    background-color: black;
}
.title-block {
    overflow: hidden;
}
.title-block .text {
    position: relative;
    font-family: Yanone Kaffeesatz,sans-serif;
    overflow: hidden;
}
.title-block .text .view-all {
    background: white;
    padding: 12px 0 0 10px;
    position: absolute;
    right: 0;
    top: 0;
    font-family: Helvetica Neue,Helvetica,Arial,sans-serif;
    font-size: .875rem;
    font-weight: 700;
    color: #000;
    display: block;
}
.title-block .text .view-all:hover {
    color: #34D089;
    text-decoration: none;
}
.gmo-img-thumbnail {
    width: 100%;
}
.gmo-link-default {
    color: black;
    text-decoration: none;
}
.gmo-link-default:hover {
    color: #34D089;
    text-decoration: none;
    cursor: pointer;
}

.gmo-link-inverse {
    color: #34D089;
    text-decoration: none;
}
.gmo-link-inverse:hover {
    color: black;
    text-decoration: none;
    cursor: pointer;
}

.gmo-article-title {
    border-bottom: solid black 2px;
}
.gmo-article-card {
    padding-top: 10px;
}
.gmo-article-info {
    padding: 5px 0 8px;
}
.gmo-article-info span{
    color: #34D089;
    padding: 0 5px 0 0;
    font-size: 12px;
}
.gmo-gallery-item img{
    max-width: 100%;
    transition: all 1s ease;
}

.gmo-gallery-item:hover img{
    transform: scale(1.1);
    transition: all 1s ease;
}
.gmo-gallery-item {
    display: block;
    position: relative;
}
.gmo-white {
    color: white;
}
#gmo-main-navbar {
    padding: 10px 3px;
}
#gmo-navbar-menu {
    display: inline;
    padding-left: 0;
}
.gmo-nav-item:first-child {
    padding-left: 0;
}
.gmo-nav-item {
    display: inline;
    padding: 10px 20px;
}
#navbar-menu-wrapper {
    border-bottom: solid 5px white;
    padding-bottom: 10px;
}
.gmo-search {
    width: 0;
    border: none;
    margin-right: 10px;
    transition: all .5s ease-in;
}
.search-active {
    width: 200px;
    padding-left: 10px;
    padding-right: 10px;
    transition: all .5s ease-in;
}

/* hidden nav */
#gmo-hidden-navbar {
    position: fixed;
    top: -30%;
    left: 0;
    right: 0;
    width: 100%;
    z-index: 1050;
    background-color: #0e0e0e;
    padding: 10px 10%;
    transition: all .3s ease-in;
}

.activated-nav {
    top: 0 !important;
    transition: all .3s ease-in;
}

.gmo-sub-menu {
    display: none;
    padding: 0px;
    width: 200px;
    position: absolute;
    margin-top: 10px;
    list-style: none;
    background-color: white;
    z-index: 1100;
}
.gmo-sub-menu li {
    padding: 10px 15px;
    border-bottom: 1px solid black;
}
.has-sub:hover .gmo-sub-menu {
    display: block !important;
}

.sidenav {
    height: 100%;
    /* width: 70%; */
    width: 0;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: #fff;
    overflow-x: hidden;
    transition: 0.5s;
    box-shadow: 0 4px 8px -3px #555454;
    padding-top: 0px;
}

.sidenav-heading{
    font-size: 36px;
    color: #fff;
}

.sidenav a {
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-size: 25px;
    color: #818181;
    display: block;
    transition: 0.3s
}

.note-video-clip {
  width: 100% !important;
}

.sidenav .closebtn {
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 36px;
    margin-left: 50px;
    color: #fff;
}

@media screen and (max-width: 699px) {
    html, body {
        overflow-x: hidden;
    }

    #header {
        padding: 0 15px;
        background: white;
    }

    .carousel-inner {
        height: 100%;
    }

    #navbar-menu-wrapper {
        padding-top: 15%;
    }

    #gmo-main-navbar {
        background-color: white;
        border-bottom: solid #0e0e0e;
    }

    .gmo-nav-item:not(:last-child) {
        display: none;
    }

    .gmo-nav-item {
        padding: 10%;
    }

    .sm-no-padding {
        padding: 0 !important;
    }
    .title-block .text {
        font-size: 14px;
        margin-top: 10px;
    }
    .title-block .text .view-all {
        font-size: 10px;
        padding: 2px 2px;
        font-weight: normal;
    }

    .title-block .text span {
        font-weight: bold;
    }

    .gmo-desc-wrapper {
        margin-left: 10px
    }
    .gmo-wrapper {
        width: 100%;
    }
    .gmo-img-thumbnail {
        width: 50px;
        height: 50px;
    }
    .gmo-article-title {
        font-size: 12px;
        border-bottom: none;
    }
    .gmo-article-card {
        padding: 10px 0;
        margin: 0 5px 0 1px;
        border-top: solid 1px rgb(221, 221, 221);
    }
    .gmo-no-mp {
        margin: 0;
        padding: 0;
    }
    .gmo-article-card:last-child {
        border-bottom: solid 1px rgb(221, 221, 221);
    }
    #gmo-hidden-navbar {
        display: none;
    }
    .gmo-footer-menu {
        text-align: center;
    }
    .gmo-footer-socials {
        text-align: center;
    }
    .gmo-footer-socials span{
        float: none !important;
    }
}


/* ADMIN PANEL STYLING START HERE */
/* ------------------------------ */
#gmo-admin-home {
    padding: 20px 15px;
    font-size: 14px;
}
