#gmo-banner-top {
    background-position: center;
    background-size: cover;
    position: relative;
    height: 450px;
}
#gmo-banner-top .banner-desc {
    position: absolute; 
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.7);
    padding: 15px;
    width: 500px;
}
.gmo-content-title {
    border-bottom: 5px solid black; 
    margin-bottom: 10px;
}
.gmo-cube-area {
    border-left: 5px solid black;
}
.gmo-content-info {
    color: #666;
}
.gmo-content-text {
    margin-top: 10px;
    text-align: justify;
}
@media screen and (max-width: 699px) {
    #gmo-banner-top {
        height: 150px;
    }
    #gmo-banner-top .banner-desc {
        width: 100%;
    }
    .banner-text {
        display: none;
    }
    .banner-header {
        font-size: 14px;
        font-weight: bold;
    }
}