#mainDiv {
    width: 300px;
    height: 300px;
    margin: 50px auto 50px;
    perspective: 800px;
}

#boxDiv {
  -moz-transition: all 0.5s ease-in-out;
  transition: all 0.5s ease-in-out;
  transform-style: preserve-3d;
/*   animation: putar 5s linear;  
  -moz-animation: putar 5s linear;
  animation-iterration: 1; */
  width: 300px;
}

#boxDiv div {
  transition: 1s ease-in-out;
  position: absolute;
  width: 300px;
/*   border: 5px solid black; */
  /* height: 300px; */
}

#F {
  border: 1px solid black;
  transform: translateZ(150px);
  background: black;
}

.cube-icon {
    font-size: 32px;
    color: #34D089;
}

.cube-icon:hover {
    cursor: pointer;
    color: white;
}

#BC {
  transform: rotateY(180deg) translateZ(150px);
  background: grey;
}

#L {
  transform: rotateY(-90deg) translateX(-150px);
  transform-origin: left;
  background: black;
}

#R {
  transform: rotateY(90deg) translateX(150px);
  transform-origin: right;
  background: grey;
}
#button {
    position: relative;
    top: 50%;
}
@keyframes putar {
  0% { transform: rotateY(0); }
  100% { transform: rotateY(360deg) ;}
}
@keyframes next {
  100% { transform: rotateY(-90deg) ;}
}
@keyframes prev {
  100% { transform: rotateY(90deg) ;}
}